
img{
  border-radius: 10px;
}
.carddes{
  font-size: 40px; 
  margin-top: 0 ;
  /* border:1px solid black; */
  margin-bottom: 0px!important;
}
.headingforall{
  text-align: center;
  padding: 50px;
  padding-top: 100px;
  text-shadow: #FC0 1px 0 10px;
  /* border: 1px solid white; */
}
.headingforall1{
  text-align: center;
  padding: 50px;
  margin-top:40px; 
  /* border: 1px solid white; */
  text-shadow: #FC0 1px 0 10px;
  overflow-x: hidden;
}
#test2{
  overflow-x: hidden; 
  border: 1px solid white;
}
.headingforall2{
  text-align: center;
  padding: 50px;
  margin-top:40px; 
  text-shadow: #FC0 1px 0 10px;
  /* border: 1px solid white; */ 
}
.setimg{
  width: 50%;
  margin:auto;
}
.excommTab ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
#mainContent{
  width: 100%;
  height: auto;
}
.eventCategory{
  margin: auto;
  font-size: large;
  font-weight: 900;
  text-align: center;
  width: 100% !important;
  color:blue;
  padding:10px;
  background-color: lightblue;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  white-space: normal !important;
}
p.c {
  word-break: break-all;
}
.test2{
  border: 1px solid wheat;
}
.autopic{
  border: 1px solid white;
}
.mauto{
  margin: auto;
}
.textwhite{
  color:black;
}
.memberWrapper{
  width: 50%;
  float: left;
  margin: 15px 0px;
  
}

.centerThis{
  display: block;
  margin: 0 auto!important;
}

.memberCard{
  width: 50%;
  padding: 8px;
  margin: 4px auto;
  border: 2px solid black;
  border-radius: 6px !important; 
}
.memberCard:hover{
background-color: rgba(211, 211, 211, 0.354);
/* transition: 000s; */
}

.memberCard h4{
  display: block;
  text-align: center;
}
.addtopm{
  margin-top: 10px;
  padding-top: 40px;
}
.excommTab{
  margin: 20px 0px;
}

.tabs .active{
  background: #ececec!important;
}

.tabs a{
  color: grey!important;
  font-weight: 500;
}

/* Ensure the image fits well within the centerset div */
.centerset img {
  width: 200px;
  height: 250px;
  
}
.memberCard img{
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 250px;
}


.memberCard p{
  display: block;
  text-align: center;
}

.memberName{
  font-weight: bold;
  font-size: 20px;
}

.wholeWrapper{
  width: 100%;
  clear: both;
  margin: 15px 0px 10px 0px;
}

.wholeWrapper h4{
  display: block;
  text-align: center;
  margin: 15px 0px;
}

.wholeWrapper h3{
  display: block;
  text-align: center;
  margin: 20px 0px;
  font-weight: 300;
  font-family: 'Arvo' , serif;
}

.page-footer{
  clear: both!important;
}


@media (max-width: 800px) {
  .memberCard h4{
    font-size: 20px;
    font-weight: bold;
  }

  .wholeWrapper h3{
    font-size: 24px;
  }

  .memberName{
      font-size: 18px;
  }

}

@media (max-width:680px) {
  .memberWrapper{
    width: 100%;
    margin: 15px 0px;
  }

  .memberEmail{
    font-size: 14px;
  }

  .vedantPhoto{
    width: 200px!important;
    height: 150px!important;
  }
}
